* {
    font-family: 'Merriweather', serif;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #F6A62E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#Back-Button {
    position: absolute;
    left: 30px;
    color: black;
    /*
    text-decoration: none;
    background-color: #f8a425;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) */
}

#teste {
    position: absolute;
    left: 30px;
}

#Edit-Button {
    position: absolute;
    right: 30px;
    color: black;
    text-decoration: none;
    background-color: #f8a425;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

main {
    display: grid;
    grid-template-columns: 27% 46% 27%;
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
}

.Grid_Col1 {
    padding: 25%;
    display: flex;
    flex-direction: column;
}

.Grid_Col2 {
    text-align: left;
    padding: 40px;
}

.List-Info {
    display: flex;
}

.List-Info p {
    border: solid 1px black;
    border-radius: 2px;
    padding: 15px;
}

.Info-P {
    text-align: center;
}

.teste {
    border: solid 1px black;
    border-radius: 2px;
    padding: 15px;
}


@media (max-width:1000px)
{
    main {
        display: flex;
        flex-direction: column;
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.6em;
    }
    .Grid_Col1 {
        text-align: center;
    }
}

@media (max-width:550px)
{
    main {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    header {
        font-size: .7em;
    }
}